$void: #141415;
$burgund: #6a2126;

.unibutton {
  min-width: 3rem;
  width: 6rem;
  height: 2rem;
  letter-spacing: 1px;
  padding: 5px 35px 5px 35px;
  background-color: white;
  color: $void;
  font-family: Nunito;
  font-weight: bolder;
  border: 2px solid $burgund;
  cursor: pointer;
  margin-bottom: 1.3rem;
  transition: all 0.15s ease-in-out;

  @media only screen and(max-width: 587px) {
    width: 4rem;
    font-size: 11px;
  }

  &:hover {
    box-shadow: -5px 6px 6px -1px $burgund;
    transform: translateY(-4px);
  }

  &:focus {
    outline: none;
  }
  &:active {
    transform: translateY(2px);
    box-shadow: -1px 1px 1px -1px $burgund;
  }
}
