.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
    font-family: Lato;
  }
  
  .directory {
    max-width: 70rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    

    &__item {
        min-width: 20rem;
        height: 15rem;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        margin: 0 7.5px 15px;
      
        &:first-child {
          margin-right: 7.5px;
        }
      
        &:last-child {
          margin-left: 7.5px;
        }

        &__content {
            height: 6rem;
            padding: 0 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
        
            .title {
              font-weight: bold;
              margin-bottom: 0.5rem;
              font-size: 1.5rem;
              color: black;
              text-transform: uppercase;
            }
        
            .subtitle {
              
              font-size: 1rem;
            }
          }
        }
  
    }
  
  
  
    