$void: #141415;
$burgund: #6a2126;
$timberwolf: #DCE0D9;
$darkpurple: #31081F;
$davy: #595959;
$xanadu: #808F85;

.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s linear;
    &:hover .shopping-icon{
      fill: $burgund;
      transform: scale(1.05);
    }

    .shopping-icon {
      width: 35px;
      height: 35px;
    }

    .item-count {
      width: 1.5rem;
      height: 1.3rem;
      position: absolute;
      font-size: 13px;
      font-weight: bold;
      right: -5px;
      bottom: 1px;
      color: $timberwolf;
      background-color: $burgund;
      border-radius: 50%;
      text-align: center;
      padding-top: 4px;
    }
  }
