$void: #141415;
$burgund: #6a2126;
$timberwolf: #DCE0D9;
$darkpurple: #31081F;
$davy: #595959;
$xanadu: #808F85;


.checkout {
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
    margin-bottom: 20px;

    &__header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $void;

      &__cell {
        width: 23%;
        font-family: Nunito;
        font-weight: 700;

        &:last-child {
          width: 8%;
        }
      }
    }

    &__total {
      margin-top: 30px;
      font-weight: 700;
      margin-left: auto;
      font-size: 25x;
      font-family: Nunito;
    }
  }
