$void: #141415;
$burgund: #6a2126;
$timberwolf: #DCE0D9;
$darkpurple: #31081F;
$davy: #595959;
$xanadu: #808F85;


*,
*::after,
*::before {

    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {

    .wrapper {
        max-width: 75rem;
        margin: 0 auto;
        position: relative;
    }
}